.Cart-Popup {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(96, 63, 63, 0.2);
    padding: 20px;
    border-radius: 4px;
}

.Close-Cart {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

h2 {
    color: white;
    margin-top: 0;
}

.Cart-Items {
    color: white;
    margin-top: 20px;
}

.Cart-Item {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Cart-Item h3 {
    color: white;
    margin: 0;
}

.Cart-Total {
    color: white;
    margin-top: 20px;
    text-align: right;
}