/* MyCart Styles */
.cart-popup {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 280px;
    border-radius: 5px;
}

.cart-header {
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.cart-items {
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
}

.cart-item {
    display: flex;
    margin-bottom: 10px;
}

.cart-item img {
    max-width: 100px;
    height: auto;
}

.cart-item-info {
    margin-left: 10px;
}

.cart-item h3 {
    margin: 0;
    font-size: 18px;
}

.cart-item p {
    margin: 0;
    font-size: 14px;
}

.cart-item-actions {
    display: flex;
    align-items: center;
}

.cart-item-actions button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.cart-item-actions span {
    font-size: 16px;
    font-weight: bold;
}

.cart-total {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cart-total h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}