/* MyCart.css */

.cart-popup {
    color: white;
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    width: 390px;
}

.cart-header {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.cart-header button {
    width: 30px;
    background-color: #ccc;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.cart-header button:hover {
    background-color: #999;
}

.cart-header h2 {
    color: white;
    margin: 0;
}

.cart-items {
    margin: 0;
    padding: 0;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
}

.cart-item img {
    max-height: 100px;
    margin-right: 10px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item h3 {
    color: white;
    margin: 0;
}

.cart-item-actions {
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.cart-item-actions button {
    background-color: #000000;
    border: none;
    color: #fafafa;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

.cart-item-actions button:hover {
    background-color: #555;
}

.cart-total {
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

/* Empty Cart Message Styles */
.empty-cart-message {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}