/* Shop.css */

/* Shop Page Styles */
.Shop-Page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.Category-Buttons {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.Category-Buttons button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.Sort-Buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sort-Buttons label {
    font-weight: bold;
}

.Sort-Buttons select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.Product-List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Display items in rows of 4 */
    gap: 20px;
}

.Product-Item {
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.Product-Item img {
    max-width: 100%;
    height: auto;
}

.Product-Item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Cart-Button {
    height: 65px;
    position: fixed;
    top: 55px;
    right: 0px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Cart-Button:hover {
    background-color: #555;
}

/* Cart Container Styles */
.Cart-Container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.Cart-Header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.Cart-Content {
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 60px);
}

.Cart-Content p {
    margin: 0;
}

.Cart-Content button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.Cart-Content button:hover {
    background-color: #555;
}

/* Cart Popup Styles */
.Cart-Popup-Container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Style for the Search bar and button */
.Sort-Buttons input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.Sort-Buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the search results */
.Product-Item {
    /* Your styles for individual product items */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}